#big-container textarea{
    width: 97%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /*text-align: center;*/
}

#big-container Input {
    border-radius: 5px;
    font-size: 16px;

}

#big-container InputLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#input-label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


#grid-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
#grid-item {
    text-align: center;
}