





#logo {
    width: 50%;
    height: auto;
}

.err {
    color: #aa2425;
    align-self: center;
    justify-content: center;
    place-items: center;
}

a {
    text-decoration: none;
}

::placeholder {
    color: dimgrey;
    opacity: 1;
}


